<div id="{name}_hobby">
    <div>
        <sec><i id="{name}_hobby_left" class="fa-solid fa-arrow-left" onclick="carousel('{name}',-1)"></i><i id="{name}_hobby_right" class="fa-solid fa-arrow-right" onclick="carousel('{name}',1)"></i>
        </sec>
        <img id="{name}_hobby_image" src="images/{image}"></img>
        <sec id="{name}_hobby_circles">{circles}</sec>
    </div>
    <p id="{name}_hobby_desc">{description}</p>
    <input id="{name}_hobby_image_index" type="hidden" value="0"/>
</div>